/* Custom XP Font - Tahoma is key */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:host {
    font-family: 'Tahoma', 'Verdana', 'Noto Sans', sans-serif;
    overflow: hidden;
    user-select: none;
}

/* The Classic Bliss Wallpaper */
.wallpaper {
    background: url('https://images.unsplash.com/photo-1578925518470-4def7a0f08bb?q=80&w=2070&auto=format&fit=crop') no-repeat center center fixed;
    background-size: cover;
}

/* Custom Scrollbar for content */
:host ::ng-deep ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background: #ECE9D8;
}

:host ::ng-deep ::-webkit-scrollbar-thumb {
    background-color: #CDD2E9;
    border: 1px solid white;
    box-shadow: inset 1px 0 0 #F3F4F9, inset 0 1px 0 #F3F4F9;
}

:host ::ng-deep ::-webkit-scrollbar-button {
    background-color: #ECE9D8;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    box-shadow: inset -1px -1px 0 #ACA899, inset 1px 1px 0 #fff;
}