<div class="w-full h-full bg-[#0000AA] text-white font-mono flex flex-col justify-center items-center p-8 text-lg">
    <div class="text-center">
        <p class="bg-white text-[#0000AA] inline-block px-2 mb-8"> Windows </p>
        <p class="mb-4">A fatal exception 0E has occurred at 0028:C0011E36 in VXD VMM(01) + 00010E36.</p>
        <p class="mb-4">The current application will be terminated.</p>
        <ul class="list-disc list-inside text-left inline-block mb-8">
            <li>Press any key to terminate the current application.</li>
            <li>Press CTRL+ALT+DEL again to restart your computer. You will lose any unsaved information in all applications.</li>
        </ul>
        <p class="text-center">Press any key to continue <span class="animate-pulse">_</span></p>
    </div>
</div>
