@if (theme() === 'win11') {
<app-windows11-layout></app-windows11-layout>
} @else {
<div class="os-root w-screen h-screen overflow-hidden" [attr.data-theme]="theme()"
  [style.font-family]="'var(--font-main)'" [style.background-color]="'var(--desktop-bg-color)'"
  [style.background-image]="'var(--desktop-bg-image)'" style="background-size: cover; background-position: center;">

  <app-desktop></app-desktop>

  <!-- Render all non-minimized windows -->
  @for (process of processes(); track process.processId) {
  @if (!process.isMinimized) {
  <app-window [process]="process"></app-window>
  }
  }

  <app-taskbar></app-taskbar>
</div>
}